{% extends 'base.html' %}
{% block content %}
{% include 'banner.html' %}
<div class="row gx-4 gx-lg-5">
    {% for movie in movies %}
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{ movie.title }}</h2>
                <p class="card-text">{{ movie.description|truncate }}</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/{{ movie.cover }}">
                </a>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="{{ url_for('get_movie', m_id=loop.index) }}">
                    Watch
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col text-center mb-5">
        <h1>No movies found.</h1>
    </div>
    {% endfor %}
</div>
{% endblock %}
